{
  "advertise_addr" : "{{ GetInterfaceIP \"eth0\" }}",
  "bind_addr": "0.0.0.0",
  "client_addr": "0.0.0.0",
  "data_dir": "/consul/data",
  "datacenter": "{{ consul_datacenter }}",
  "retry_join" : [
    "consul.server"
  ],
  "bootstrap_expect": "{{ consul_replica }}",
  "server" : true,
  "ui" : true,
  "disable_update_check": true,
  "log_level": "INFO",
  "ports": {
    "dns": 53
  },
  "dns_config": {
    "service_ttl": {
      "service": "10s"
    }
  }
}
