---
version: "{{ compose_api_version }}"

networks:
  {{ docker_swarm_overlay.name }}:
    external: true

volumes:
  {{ consul_docker_vol }}:

services:
{% for image in images %}
  {{ image.name }}:
    image: {{ registry_hostname }}/{{ image.prefix }}:{{ image.tag }}
{%     if image.volumes is defined %}
    volumes:
{{    image.volumes | to_nice_yaml | indent(6, true) }}
{%     endif %}
{%     if image.ports is defined %}
    ports:
{{    image.ports | to_nice_yaml | indent(6, true) }}
{%     endif %}
{%     if image.environment is defined %}
    environment:
{{    image.environment | to_nice_yaml | indent(6, true) }}
{%     endif %}
{%     if image.command is defined %}
    command: {{ image.command }}
{%     endif %}
{%     if image.network_mode is defined %}
    network_mode: {{ image.network_mode }}
{%     endif %}
{%     if image.networks is defined %}
    networks:
{{    image.networks | to_nice_yaml | indent(6, true) }}
{%     endif %}
{%     if image.deploy is defined %}
    deploy:
{{    image.deploy | to_nice_yaml | indent(6, true) }}
{%     endif %}
{% endfor %}
