{
    "service": {
        "name": "example",
        "tags": [],
        "checks": [
          {
            "args": ["curl", "localhost"],
            "interval": "10s"
          }
        ]
    }
}
