{
  "skip_leave_on_interrupt": true,
  "data_dir": "/consul/data",
  "datacenter": "{{ consul_datacenter }}",
  "node_name": "{{ inventory_hostname }}",
  "client_addr": "0.0.0.0",
  "serf_lan": "0.0.0.0",
  "advertise_addr": "{{ hostvars[inventory_hostname]['ansible_host'] }}",
  "server" : true,
  "ui" : true,
  "log_level": "INFO"
}
