#!/bin/bash

sudo bash -c "useradd -s '/bin/bash' -m -p '{{ group_vars['vagrant']['box_pass'] }}' {{ group_vars['vagrant']['box_user'] }}"
sudo bash -c 'echo "user ALL=(ALL) NOPASSWD:ALL" > /etc/sudoers.d/user'
sudo bash -c 'echo "nameserver 8.8.8.8" > /etc/resolvconf/resolv.conf.d/base'
sudo bash -c 'resolvconf --enable-updates'
sudo bash -c 'resolvconf -u'
sudo bash -c 'resolvconf -d eth0.dhclient -u'
sudo bash -c 'resolvconf -d em1.dhclient -u'
sudo bash -c 'resolvconf --disable-updates'
sudo bash -c 'echo "LC_ALL=\"en_US.UTF-8\""  >  /etc/default/locale'
sudo bash -c 'apt update && apt install unzip htop'
