---
{% for host in groups['vagrant'] %}
{%   set ip = hostvars[host].netid|string + hostvars[host].id|string %}
{%   set ip = hostvars[host].ansible_host %}
- hostname: {{ host }}
  box_name: {{ hostvars[host]['box_name'] }}
  box_user: {{ hostvars[host]['box_user'] }}
  box_pass: {{ hostvars[host]['box_pass'] }}
  cpu: {{ hostvars[host]['cpu'] }}
  ram: {{ hostvars[host]['ram'] }}
  cidr: {{ hostvars[host]['cidr'] }}
  ip: {{ ip }}
  os: {{ hostvars[host]['box_name'].split('/')[0] }}

{% endfor %}
