swarm_master: "{{ groups['swarm-managers'][0] }}"
docker_group: docker
docker_group_members: ["user", "vagrant"]
docker_sockets: "-H unix:///var/run/docker.sock -H tcp://0.0.0.0:2375"
docker_version: 18.09.1
docker_packages:
  - docker-ce
  - docker-compose

docker_swarm_subnet: 172.30.1.0/24
docker_swarm_overlay:
  name: "swarm_network"
docker_unpackages:
  - docker
  - docker-engine
  - docker.io
  - containerd

docker_keyserver: hkp://p80.pool.sks-keyservers.net:80
docker_repo_key: "58118E89F3A912897C070ADBF76221572C52609D"
docker_repo: https://download.docker.com/linux/ubuntu

docker_kernel_options:
  net.ipv4.ip_forward: 1
  net.bridge.bridge-nf-call-arptables: 1
  net.bridge.bridge-nf-call-ip6tables: 1
  net.bridge.bridge-nf-call-iptables: 1
