# ------------------------------------------ General -------------------------------------------- #

become: True

domain_name: "default.local"

vagrant_dir: "{{ work_dir }}/.vagrant"
work_dir: "{{ lookup('pipe','pwd').split('/playbooks')[0] }}"
reqs_dir: "{{ work_dir }}/reqs"
data_dir: "/DATA"
compose_dir: "{{ data_dir }}/compose/{{ role_path | basename }}"
compose_api_version: "3.4"

# Internet connectivity check
internet_available: "{{ lookup('pipe', 'nslookup google.com > /dev/null || exit 0  && echo True') }}"

python_packages:
  - jsondiff
  - docker

common_packages:
  - htop
  - vim
  - python3-pip
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg2
  - software-properties-common
  - bridge-utils
  - tar
  - wget
  - git
  - unzip
  - ntp
  - python-pip
  - python3-pip

s3_storage:
  enabled: false
  access_key: ""
  secret_key: ""

ansible_python_interpreter: "/usr/bin/env python"
