#--------------------- Consul ------------------#
config_dir: "{{ consul_config_dir | default(compose_dir) }}"
data_dir: "{{ consul_data_dir | default('/consul/data') }}"
version: "{{ consul_version | default('1.2.4') }}"
stack_name: "{{ consul_stack_name | default('consul') }}"

consul_datacenter: "default"
consul_api_token: "SECR3T"
consul_log_level: "INFO"
consul_docker_vol: "{{ stack_name }}"

consul_server_config: "{{ config_dir }}/server"
consul_agent_config: "{{ config_dir }}/agent"

directories:
  - "{{ compose_dir }}"
  - "{{ config_dir }}"
  - "{{ data_dir }}"
  - "{{ consul_server_config }}"
  - "{{ consul_agent_config }}"

templates:
  - { file: "service.json", dest: "{{ consul_agent_config }}" }
  - { file: "service.json", dest: "{{ consul_server_config }}" }
  - { file: "server-config.json", dest: "{{ consul_server_config }}" }
  - { file: "agent-config.json", dest: "{{ consul_agent_config }}" }

volumes:
  - "{{ consul_docker_vol }}"

local_volumes:
  - "{{ data_dir }}"
  - "{{ config_dir }}"

images:
  - name: "consul"
    prefix: "consul"
    tag: "{{ version }}"
    #network_mode: "host"
    ports:
      - target: 8500
        published: 8500
        mode: host
      # - target: 53
      #   published: 53
      #   mode: host
      #   protocol: udp
      # - target: 53
      #   published: 53
        # mode: host
        # protocol: tcp
      - target: 8300
        published: 8300
        mode: host
        protocol: tcp
      - target: 8301
        published: 8301
        mode: host
        protocol: tcp
      - target: 8302
        published: 8302
        mode: host
        protocol: tcp
      - target: 8300
        published: 8300
        mode: host
        protocol: udp
      - target: 8301
        published: 8301
        mode: host
        protocol: udp
      - target: 8302
        published: 8302
        mode: host
        protocol: udp
      - target: 8600
        published: 53
        mode: host
        protocol: udp
      - target: 8600
        published: 53
        mode: host
        protocol: tcp
    environment:
      - "CONSUL_ALLOW_PRIVILEGED_PORTS=53"
      - "CONSUL_BIND_INTERFACE={{ consul_bind_interface }}"
      - "CONSUL_HTTP_TOKEN={{ consul_api_token }}"
    volumes:
      - "{{ consul_docker_vol }}:/consul/data"
      - "{{ consul_server_config }}:/etc/consul"
    command: agent -ui -config-dir /etc/consul -bootstrap-expect={{ groups['swarm-managers']|length }} -retry-join consul.cluster
    networks:
      swarm_network:
        aliases:
          - consul.cluster
    deploy:
      endpoint_mode: dnsrr
      mode: global
      placement:
        constraints: [node.role ==  manager]
      labels:
        - traefik.frontend.rule=Host:gui.consul.service.consul
        - traefik.enable=true
        - traefik.port=8500
        - traefik.tags=traefik
        - traefik.docker.network=swarm_network
        - traefik.redirectorservice.frontend.entryPoints=http
        - traefik.backend.loadbalancer.swarm=true
        - traefik.backend.loadbalancer.method=drr
        # - traefik.redirectorservice.frontend.redirect.entryPoint=https
        # # Traefik service that listens to HTTPS
        # - traefik.webservice.frontend.entryPoints=https
        # - traefik.frontend.auth.basic.users=${USERNAME}:${HASHED_PASSWORD}

  - name: "consul-client"
    prefix: "consul"
    tag: "{{ version }}"
    ports:
      - target: 8300
        published: 8300
        mode: host
        protocol: tcp
      - target: 8301
        published: 8301
        mode: host
        protocol: tcp
      - target: 8302
        published: 8302
        mode: host
        protocol: tcp
      - target: 8300
        published: 8300
        mode: host
        protocol: udp
      - target: 8301
        published: 8301
        mode: host
        protocol: udp
      - target: 8302
        published: 8302
        mode: host
        protocol: udp
      - target: 8600
        published: 8600
        mode: host
        protocol: udp
      - target: 8600
        published: 8600
        mode: host
        protocol: tcp
    #network_mode: "host"
    environment:
      - "CONSUL_BIND_INTERFACE={{ consul_bind_interface }}"
      - "CONSUL_HTTP_TOKEN={{ consul_api_token }}"
    volumes:
      - "{{ consul_docker_vol }}:/consul/data"
      - "{{ consul_agent_config }}:/etc/consul"
    command: agent -config-dir /etc/consul -retry-join consul.cluster
    networks:
      swarm_network:
        aliases:
          - consul.cluster
    deploy:
      endpoint_mode: dnsrr
      mode: global
      placement:
        constraints: [node.role !=  manager]

  # - name: "registrator"
  #   prefix: "gliderlabs/registrator"
  #   tag: "master"
  #   environment:
  #     - "CONSUL_HTTP_TOKEN={{ consul_api_token }}"
  #   volumes:
  #     - /var/run/docker.sock:/tmp/docker.sock
  #   command: '-internal consul://consul.cluster:8500'
  #   networks:
  #     - "{{ docker_swarm_overlay.name }}"
  #   deploy:
  #     mode: global

  # - name: proxy
  #   prefix: "dockerflow/docker-flow-proxy"
  #   tag: "18.11.07-15"
  #   ports:
  #     - target: 8080
  #     #  published: {{ consul_proxy_port }}
  #   environment:
  #     - "MODE=swarm"
  #     - "CONSUL_ADDRESS={% for host in groups['swarm-managers'] %}{{ host }}:8500{% if not loop.last %},{% endif %}{% endfor %}" # TODO FIXME change consul port hardcoded
  #   network:
  #     - "{{ docker_swarm_overlay.name }}"
  #   deploy:
  #     mode: global
  #     placement:
  #       constraints: [node.role ==  manager]
  #
  # - name: swarm-listener
  #   prefix: "dockerflow/docker-flow-swarm-listener"
  #   tag: "19.01.12-20"
  #   volumes:
  #     - type: bind
  #       source: /var/run/docker.sock
  #       target: /var/run/docker.sock
  #   environment:
  #     - DF_NOTIFY_CREATE_SERVICE_URL=http://proxy:8080/v1/docker-flow-proxy/reconfigure
  #     - DF_NOTIFY_REMOVE_SERVICE_URL=http://proxy:8080/v1/docker-flow-proxy/remove
  #   network:
  #     - "{{ docker_swarm_overlay.name }}"
  #   deploy:
  #     mode: global
  #     placement:
  #       constraints: [node.role ==  manager]

  # - name: "traefik_init"
  #   prefix: traefik
  #   tag: v1.7
  #   command:
  #     - "storeconfig"
  #     - "--api"
  #     - "--entrypoints=Name:http Address::80"
  #     - "--entrypoints=Name:https Address::443 TLS"
  #     - "--defaultentrypoints=http"
  #     - "--docker"
  #     - "--docker.swarmMode"
  #     - "--docker.domain={{ domain_name }}"
  #     - "--docker.watch"
  #     - "--consul"
  #     - "--consul.endpoint=consul.cluster:8500"
  #     - "--consul.prefix=traefik"
  #   volumes:
  #     - type: bind
  #       source: /var/run/docker.sock
  #       target: /var/run/docker.sock
  #   networks:
  #     swarm_network:
  #       aliases:
  #         - consul.cluster
  #   deploy:
  #     restart_policy:
  #       condition: on-failure
  #   depends_on:
  #     - consul

  - name: "traefik"
    prefix: traefik
    tag: v1.7
    depends_on:
      - traefik_init
      - consul
    command:
      # - "storeconfig"
      - "--api"
      - "--entrypoints=Name:http Address::80"
      - "--entrypoints=Name:https Address::443 TLS"
      - "--defaultentrypoints=http"
      - "--docker"
      - "--docker.swarmMode"
      - "--docker.domain={{ domain_name }}"
      - "--docker.watch"
      # - "--consul"
      # - "--consul.endpoint=consul.cluster:8500"
      # - "--consul.prefix=traefik"
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    networks:
      swarm_network:
        aliases:
          - consul.cluster
    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host
      - target: 8080
        published: 8080
        mode: host
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      labels:
        - traefik.frontend.rule=Host:traefik.service.consul
        - traefik.enable=true
        - traefik.port=8080
        - traefik.tags=traefik
        - traefik.docker.network=swarm_network
        - traefik.redirectorservice.frontend.entryPoints=http
