---
- hosts: deploy
  tasks:
  - setup:

- hosts: deploy
  gather_facts: yes
  become: yes
  tasks:
  - include_role:
      name: archive_binary
    when: internet_available | bool

- hosts: all
  gather_facts: yes
  become: yes
  roles:
    - { role: common }

- hosts: registry
  gather_facts: yes
  roles:
    - { role: registry, purge: false}

- hosts: swarm-cluster
  become: yes
  gather_facts: yes
  roles:
    - { role: docker-swarm }

- hosts: consul-nodes
  become: true
  gather_facts: yes
  roles:
    - { role: consul, purge: false }

- hosts: jenkins-master
  become:
  gather_facts: yes
  roles:
    - { role: jenkins, purge: false }
