---
- hosts: deploy
  gather_facts: yes
  become: yes
  roles:
    - { role: archive_binary }

- hosts: all
  gather_facts: yes
  become: yes
  roles:
    - { role: common}

- hosts: registry
  gather_facts: yes
  roles:
    - { role: registry }
