---
- hosts: '{{ target_hosts | d("registry") }}'
  gather_facts: yes
  roles:
    - { role: registry, purge: false}

- hosts: '{{ target_hosts | d("swarm-managers[0]") }}'
  become: true
  gather_facts: yes
  roles:
    - { role: consul, purge: false }

- hosts: '{{ target_hosts | d("swarm-managers[0]") }}'
  become:
  gather_facts: yes
  roles:
    - { role: jenkins, purge: false }

- hosts: '{{ target_hosts | d("swarm-managers[0]") }}'
  become:
  gather_facts: yes
  roles:
    - { role: docker-pypi, purge: false }
